<div class="row">
    <div class="col-md-6 offset-3 mt-3">
        <div class="table table-bordered p-0">
            <thead>
                <th>SNo</th>
                <th>Fname</th>
                <th>Lname</th>
                <th>Email</th>
                <th>Contact</th>
            </thead>
            <tbody>
                <tr
                *ngFor = "let std of stdArr; let i = index">
               <td>{{i+1}}</td>
               <td>{{std.fname}}</td>
               <td>{{std.lname}}</td>
               <td>{{std.email}}</td>
               <td>{{std.contact}}</td>
            </tr>
            </tbody>

        </div>
    </div>
</div>