

<h2>Product</h2>

<p class="alert alert-primary">The Company's newest Product is selling well</p>
<p class="alert alert-primary">A Product is any item or service you sell to serve a customer's need or want</p>
<p class="alert alert-primary">A Product of high quality</p>
<p class="alert alert-primary">A product of Proper Stroage</p>
<p class="alert alert-primary">A product of Efficient marketing</p>
<p class="alert alert-primary">A product of Reliablity</p>
<p class="alert alert-primary">A product of Great positioning</p>


<h2>Templeting</h2>

<p class="alert alert-info">
    The Product name is 
    <strong>{{productName }}</strong>
    and with it 
    <strong>{{productId}}</strong>
</p>